@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
    border: 1px solid red;
} */

@font-face {
    font-family: 'NeonNeon';
    src: url('./assets/fonts/neonFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cyberWay';
    src: url('./assets/fonts/cyberWayFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.neonLogo {
    color: #FA4B9C;
    will-change: text-shadow;
    text-shadow: 
        0 0 4px #ffffff4d,
        0 0 35px #FA4B9C
}

.neonBorder {
    border-radius: 1rem;
    box-shadow: 
        0 0 4px #ffffff4d,
        0 0 4px #ffffff4d,
        0 0 14px #FA4B9C,
        0 0 8px #FA4B9C,
        inset 0 0 10px #FA4B9C;
    transition: all 0.150s ease-in-out;
}

.neonBorder:hover {
    box-shadow: 
        0 0 6px #ffffff4d, 
        0 0 8px #ffffff4d, 
        0 0 28px #FA4B9C, 
        0 0 16px #FA4B9C, 
        inset 0 0 25px #FA4B9C;
}

.neonIcon {
    box-shadow: 
    0 0 4px #ffffff4d,
    0 0 4px #ffffff4d,
    0 0 14px #FA4B9C,
    0 0 8px #FA4B9C,
    inset 0 0 10px #FA4B9C;
}

.container {
    position: fixed;
    bottom: 1.75rem;
    right: 1.75rem;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-image: linear-gradient(142deg, rgba(233,203,228,1) 0%, rgba(250,242,248,1) 35%, rgba(255,255,255,1) 100%);
    /* transition: transform 0.6s ; */

}


.shadowIco {
    color: #FA4B9C;
    filter: drop-shadow(3px 3px 4px #FA4B9C);
}



.swiper-pagination-bullet {
    background-color: rgb(153, 150, 150) !important;
}

.swiper-pagination-bullet-active {
    background-color: #FA4B9C !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 120px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background-color: rgba(0,0,0, 0.8);
    border-radius: 8px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #FA4B9C !important;
}

.scroll-content::-webkit-scrollbar {
    display: none;
}

.scroll-content {
    scrollbar-width: none;
}

@media screen and (min-width: 530px) {
    .swiper-container {
        width: 100%;
    }
}

@media screen and (min-width: 200px) {
    .swiper-button-next,
    .swiper-button-prev {
    visibility:hidden;
}
}

@media screen and (min-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
    visibility: visible;
}
}

@supports (-webkit-backdrop-filter: none) {
    .safari-flick-fix {
        animation: none !important;
    }
    
    .home-top-fix {
        top: 0 !important;
    }

    .home-margin-fix {
        margin-bottom: 0 !important;
    }

    .home-btn-fix {
        padding-top: 0 !important;
    }
}
